@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-color {
    background-color: #0c0b0b;
}

.d-flex {
    display: flex;
}

.heading {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    padding-bottom: 32px;
    padding-top: 15px;

}

.Liquidity {
    color: var(--white, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;



}

.box {
    border-radius: 10px;
    border: 1px solid #444444;
    background: linear-gradient(95deg, rgba(255, 255, 255, 0.10) 0.97%, rgba(255, 255, 255, 0.00) 103.14%);
    backdrop-filter: blur(16px);

}

.text {
    color: var(--white, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    color: #bcbcbc;
    padding-left: 20px;
}

.text-1 {
    color: var(--Orange, #F06500);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-left: 20px;
    padding-bottom: 22px;
}

.text-2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-left: 20px;
    padding-bottom: 22px;
}





.percentage {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;

}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 11%;
    left: 20%;
}

.absolute-35 {
    position: absolute;
    top: 11%;
    right: 18%;
}

.absolute-48 {
    position: absolute;
    top: 62%;
    right: 5%;
}

.absolute-20 {
    position: absolute;
    top: 87%;
    right: 38%;
}

.absolute-28 {
    position: absolute;
    top: 83%;
    left: 27%;
}

.absolute-38 {
    position: absolute;
    top: 55%;
    left: 3%;
}

.sem {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;

}

.gap-15 {
    gap: 25px;
}

.padding-15 {
    padding-bottom: 15px;
}

.padding-22 {
    padding-bottom: 22px;
}

.table-box {
    border-radius: 10px;
    border: 1px solid #464545;
    background: linear-gradient(95deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0.00) 103.14%);
    backdrop-filter: blur(16px);
}


.padding-py {
    padding-top: 65px;
    padding-bottom: 65px;

}

.padding-right {
    padding-right: 50px;
}

.padding-px {
    padding-left: 30px;
    padding-right: 80px;
}

.table-heading {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    padding-top: 14px;
    padding: 22px;
    white-space: nowrap;

}

.justify-content-space-between {
    justify-content: space-between;
}

.table-data {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    padding: 22px;
    white-space: nowrap;
}

.data {
    color: #b9b8b8;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    padding: 22px;
    white-space: nowrap;
}

.text-align {
    text-align: center;
}

.w100 {
    width: 100%;
}

table,
tr,
td {
    border-collapse: collapse;
}

.overflow-x-auto {
    overflow-x: auto;
}


.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media(min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media(min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }
}